<mat-card>
  <mat-card-header>
    <mat-icon class="icon-header">payment</mat-icon>
    <h1 mat-dialog-title>Transactions Management</h1>
    <button mat-stroked-button color="primary" class="floatButton">Add</button>
  </mat-card-header>

  <mat-card-content>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-left">Transaction id</th>
          <th scope=" col" class="text-center">ລາຍການອາຫານ</th>
          <th scope="col" class="text-center">ຕົ້ນທຶນ</th>
          <th scope="col" class="text-center">ລາຄາ</th>
          <th scope="col" class="text-center">ຈຳນວນ</th>
          <th scope="col" class="text-center">ລວມຍອດ</th>
          <th scope="col" class="text-center">ຮັບມາ</th>
          <th scope="col" class="text-center">ທອນ</th>
          <th scope="col" class="text-center">ວັນທີ່ຂາຍ</th>
          <th scope="col" class="text-center">ເລກຄິວ</th>
          <th scope="col" class="text-center">ຈ່າຍຜ່ານ</th>
          <th scope="col" class="text-center">Refno</th>
          <th scope="col" class="text-center">ຈັດການ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions | async">
          <td class="text-left">{{ transaction.id }}</td>
          <td class="text-left">{{ transaction.food.food_name }}</td>
          <td class="text-right">{{ transaction.food.cost |number }}</td>
          <td class="text-right">{{ transaction.food.price |number }}</td>
          <td class="text-right">{{ transaction.quantity |number }}</td>
          <td class="text-right">{{ transaction.total |number }}</td>
          <td class="text-right">{{ transaction.receive |number }}</td>
          <td class="text-right">{{ transaction.change |number }}</td>
          <td class="text-center">{{ transaction.datetime |date }}</td>
          <td class="text-center">{{ transaction.ticket }}</td>
          <td class="text-center" *ngIf="transaction.payment.method.toLowerCase() == 'cash'; else otherPayment">
            {{ transaction.payment.method }}
          </td>
          <ng-template #otherPayment>
            <td class="text-center">{{ transaction.payment.method + ' By ' + transaction.payment.acquirer }}</td>
          </ng-template>
          <td class="text-center">{{ transaction.payment.refno }}</td>
          <td class="text-center"><button mat-raised-button color="warn" (click)="deleteTransction(transaction.id)">Delete</button><span
              class="spaceDiv"></span><button mat-raised-button color="primary" disabled>Update</button></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
