<h1 mat-dialog-title>ສ່ວນປະກອບ ອາຫານ ແລະ ເຄື່ອງດື່ມ</h1>
<form [formGroup]="addNewBOMForm">
  <mat-card>
    <h4 mat-dialog-title>ອາຫານ</h4>
    <mat-card-content>
      <div class="form-row">
        <div class="form-group col-md-12">
          <select class="form-control" id="food">
            <option disabled value="">-----</option>
            <option value="{{ food.food_name }}" *ngFor="let food of foods | async">{{ food.food_name }}</option>
          </select>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <h4 mat-dialog-title>ສ່ວນປະກອບ</h4>
    <button mat-mini-fab color="primary" class="addBtn" (click)="addProduct()">
      <i class="material-icons ">
        add
      </i>
    </button>
    <mat-card-content>
      <table class="table table-bordered">
        <thead class="thead-light">
          <th>ສິນຄ້າ</th>
          <th>ຈຳນວນ</th>
          <th>ໝາຍເຫດ</th>
        </thead>
        <tbody>
          <tr *ngFor="let product of listOfProducts">
            <td>{{ product.product }}</td>
            <td>{{ product.quantity }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</form>
