<h1 mat-dialog-title>ສ່ວນປະກອບ ອາຫານ ແລະ ເຄື່ອງດື່ມ</h1>
<form [formGroup]="addNewBOMForm">
  <mat-card>
    <h4 mat-dialog-title>ອາຫານ</h4>
    <mat-card-content>
      <div class="form-row">
        <div class="form-group col-md-12">
          <select class="form-control" id="food" formControlName="food" (change)="foodSelect($event.target.value)">
            <option disabled value="">-----</option>
            <option value="{{ food.food_name }}" *ngFor="let food of foods | async">{{ food.food_name }}</option>
          </select>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card [ngClass]="showContent">
    <h4 mat-dialog-title>ສ່ວນປະກອບ</h4>
    <mat-card-content>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="product">ສິນຄ້າ</label>
          <select class="form-control" id="product" #productSelect formControlName="product">
            <option disabled value=""></option>
            <option value="{{ product.productName }}" *ngFor="let product of products | async">{{ product.productName
              }}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="txtQuantity">ຈຳນວນ</label>
          <input type="number" id="txtQuantity" #quantityTxt class="form-control" formControlName="quantity">
        </div>
        <div class="form-group col-md-2">
          <button mat-raised-button color="primary" class="addBtn" (click)="addProduct(quantityTxt.value)">Add</button>
        </div>
      </div>
      <table class="table table-bordered">
        <thead class="thead-light">
          <th class="text-center">ສິນຄ້າ</th>
          <th class="text-center">ຈຳນວນ</th>
          <th class="text-center">ທຶນ</th>
          <th class="text-center">ຫົວໜ່ວຍ</th>
        </thead>
        <tbody>
          <tr *ngFor="let product of listOfProducts">
            <td class="text-left">{{ product.product }}</td>
            <td class="text-right">{{ product.quantity }}</td>
            <td class="text-right">{{ product.cost }}</td>
            <td class="text-center">{{ product.unit }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <div class="col col-md-12 text-center">
          <button mat-raised-button color="primary" [disabled]="saveDisabled" style="width: 100%;" (click)="addNewBom()">Save</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
