<mat-card class="mainCard">
  <mat-card-header>
    <mat-icon class="icon-header">playlist_add_check</mat-icon>
    <h1 mat-dialog-title>{{ title }}</h1>
    <div class="btnAddNewDiv">
      <button mat-mini-fab color="primary" (click)="addNewBom()">
        <i class="material-icons">
          add
        </i>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-left">id</th>
          <th scope=" col" class="text-center">ລາຍການອາຫານ</th>
          <th scope="col" class="text-center">ຕົ້ນທຶນ</th>
          <th scope="col" class="text-center">ສ່ວນປະກອບ</th>
          <th scope="col" class="text-center">ແກ້ໄຂ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bom of boms | async">
          <td class="align-middle font-weight-light" style="width: 10px;">{{ bom.id }}</td>
          <td class="align-middle" style="width: 300px;">{{ bom.food }}</td>
          <td class="text-center align-middle" style="width: 200px;">{{ bom.cost | number }}</td>
          <td class="text-center align-middle" style="width: 400px;">
            <table class="table table-borderless">
              <tbody>
                <tr *ngFor="let product of bom.products">
                  <td class="text-left" style="width: 5px;"><i class="material-icons">
                      arrow_right
                    </i></td>
                  <td class="text-left">{{ product.product }}</td>
                  <td class="text-left">ຈຳນວນ</td>
                  <td class="text-right">{{ product.quantity |number }}</td>
                  <td class="text-right">{{ product.unit }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="align-middle">
            <div class="row">
              <div class="col col-md-6"><button mat-raised-button color="primary" style="width: 100%;">Update</button></div>
              <div class="col col-md-6"><button mat-raised-button color="warn" style="width: 100%;">Delete</button></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
