<mat-toolbar color="primary" class="topbarDiv">
  <mat-toolbar-row>
    <span routerLink="/">Letter'P stock </span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/">Dashboard</button>
    <button mat-button routerLink="products">Products</button>
    <button mat-button routerLink="foods">Foods</button>
    <button mat-button routerLink="purchases">Purchases</button>
    <button mat-button routerLink="billOfMaterial">BOM</button>
    <button mat-button routerLink="stocktracking">Stock tracking</button>
    <button mat-button routerLink="settings">Settings</button>
  </mat-toolbar-row>
</mat-toolbar>
